<template>
  <div>
    <div v-for="post in posts">
      <h2>
        <router-link :to="post.path">{{ post.frontmatter.title }}</router-link>
      </h2>

      <p>{{ post.frontmatter.description }}</p>

      <p><router-link :to="post.path">Read more</router-link></p>
    </div>
  </div>
</template>

<script setup>

    import { ref, onMounted } from 'vue'
    import { usePages } from '@temp/pages'  // pages.js is default filename


    const pages= usePages()
    const posts = pages.sort(
          (a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
        );

    onMounted(() => {
      // console.log(`Posts Found Are ${posts.value}.`)
      console.log("Posts:")
      console.dir(pages)
      console.dir(posts)
      // for (let i = 0; i < pages.value.length; i++) {
      //   console.dir(pages.value[i])
      // }
    })
  
  // async onInitialized(app){
  //   this.post = app.Pages.value.filter(
  //         (x) => x.path.startsWith("/blog/_posts") && !x.frontmatter.blog_index
  //       )
  //       .sort(
  //         (a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
  //       );
  // }
</script>
